<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отчет</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .mb-3 {
            margin: auto 20px;
        }
    </style>
</head>
<body>
    <header>
        <ul class="nav nav-pills mt-3">
          <li class="nav-item">
            <a
              class="nav-link"
              href="/firms"
              >Фирмы</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="/clients"
              >Клиенты</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="/completedWorks"
              >Выполненные работы</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="/expences"
              >Расходы</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="/staffs"
              >Сотрудники</a
            >
          </li>
          <li class="nav-item active">
            <a
              class="nav-link"
              href="/report"
              >Отчет</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">Выйти</a>
          </li>
        </ul>
      </header>
    <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Количество Фирм</label>
        <input type="text" id="disabledTextInput" class="form-control" placeholder="10" disabled>
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Количество клиентов</label>
        <input type="text" id="disabledTextInput" class="form-control" placeholder="10" disabled>
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Количество сотрудников</label>
        <input type="text" id="disabledTextInput" class="form-control" placeholder="10" disabled>
      </div>

      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Количество выполненных работ</label>
        <input type="text" id="disabledTextInput" class="form-control" placeholder="10" disabled>
      </div>

      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Средний доход компании</label>
        <input type="text" id="disabledTextInput" class="form-control" placeholder="1100$" disabled>
      </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>