<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <div class="container-xxl">
      <main>
        <h1 class="mt-3">Добавление клиента</h1>
        <form action="/entities/add" method="post">
          <div class="col-xl-6 mt-3">
            <label for="name" class="form-label">Название</label>
            <input
              type="text"
              class="form-control"
              id="name"
              required
              maxlength="50"
              name="name"
            />
            <div class="invalid-feedback">
              Поле не заполнено или такой клиент есть
            </div>
          </div>
          <div class="col-xl-6 mt-3">
            <label for="number" class="form-label">ИНН</label>
            <input
              type="number"
              class="form-control"
              id="number"
              required
              name="number"
            />
            <div class="invalid-feedback">ИНН должен состоять из 12 цифр</div>
          </div>

          <div class="col-xl-6 mt-3">
            <label for="address" class="form-label"
              >Адрес(страна, город, улица, номер дома)</label
            >
            <input
              type="text"
              class="form-control"
              id="address"
              required
              maxlength="50"
              name="address"
            />
            <div class="invalid-feedback">
              Неправильная запись. Запись должна быть такая (страна город улица
              номер-дома).
            </div>
          </div>

          <input type="hidden" class="hiddenCheck" value="" />

          <% if (entities.length) { %> <% entities.forEach(({id, name, number,
          address}) => { %>
          <input type="hidden" class="hiddenName" value="<%= name %>" />
          <% }) %> <% } %>

          <div class="mt-3">
            <button class="btn btn-primary button" type="button" id="btn">
              Добавить
            </button>
            <button class="hidden" type="submit">Добавить</button>
            <a href="/entities" class="btn btn-primary">Назад</a>
          </div>
        </form>
      </main>
    </div>
    <%- include('../partials/scripts.ejs') %>
  </body>
</html>
